{% load crispy_forms_filters %}
{% load static %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-5" href="/"><h3 class="text-right">Kitchen Service</h3></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="w-100 fs-6" method="post" action="{% url 'kitchen_service:home' %}">
    {% csrf_token %}
    <input class="form-control form-control-dark w-100 fs-6" type="text" placeholder="Global search" aria-label="Search"
    id="search_input" name="search_input">
    <button hidden="Yes" type="submit">Search</button>
  </form>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap fs-6">
      {% if user.is_authenticated %}
        <a class="nav-link px-3" href="{% url 'logout' %}">Sign out</a>
      {% else %}<a class="nav-link px-3" href="{% url 'login' %}">Sign in</a>
      {% endif %}
    </div>
  </div>
</header>
