{% extends "index.html" %}

{% block greeting %}
  <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="pb-2 border-bottom">Information about cook: {{ cook.username.title }}</h1>
    {% if user.is_authenticated %}
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          {% if user.is_superuser or user.id == cook.id %}
            <a href="{% url 'kitchen_service:cook-update' pk=cook.id %}">
              <button type="button" class="btn btn-sm btn-outline-secondary">Update information</button>
            </a>
            <a href="{% url 'kitchen_service:cook-delete' pk=cook.id %}">
              <button type="button" class="btn btn-sm btn-outline-secondary">Delete cook</button>
            </a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <h3 class="pb-2 border-bottom">Cook full name: {{ cook.first_name }} {{ cook.last_name }}</h3>
  <h3 class="pb-2 border-bottom">Cook experience: {{ cook.years_of_experience }}
    year{{ cook.years_of_experience|pluralize }}</h3>
  <hr>
  <h3>{{ cook.username.title }} can cook following dishes:</h3>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Dish title</th>
        <th scope="col">Dish type</th>
        <th scope="col">Dish price</th>
        <th scope="col">Dish description</th>
      </tr>
      </thead>
      <tbody>
      {% for dish in cook.dishes.all %}
        <tr>
          <td><a class="text-muted" href="{% url 'kitchen_service:dish-detail' pk=dish.id %}">{{ dish.id }}</a></td>
          <td><a class="text-muted" href="{% url 'kitchen_service:dish-detail' pk=dish.id %}">{{ dish.name }}</a></td>
          <td><a class="text-muted"
                 href="{% url 'kitchen_service:dish-type-detail' pk=dish.dish_type.id %}">{{ dish.dish_type }}</a></td>
          <td>{{ dish.price }}</td>
          <td>{{ dish.description }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
