{% extends "index.html" %}

{% block greeting %}
  <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="pb-2 border-bottom">Information about dish: {{ dish.name.capitalize }}</h1>
    {% if user.is_authenticated %}
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <a href="{% url 'kitchen_service:dish-update' pk=dish.id %}">
            <button type="button" class="btn btn-sm btn-outline-secondary">Update information</button>
          </a>
          <a href="{% url 'kitchen_service:dish-delete' pk=dish.id %}">
            <button type="button" class="btn btn-sm btn-outline-secondary">Delete dish</button>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <h3 class="pb-2 border-bottom">Dish description: {{ dish.description }}</h3>
  <h3 class="pb-2 border-bottom">Dish price: {{ dish.price }} Hryvnia{{ dish.price|pluralize }}</h3>
  <hr>
  <h3>{{ dish.name.capitalize }} requires following ingredients:</h3>
  <hr>
  <div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Ingredient title</th>
      <th scope="col">Quantity</th>
      <th scope="col">Units</th>
    </tr>
    </thead>
    <tbody>
    {% for dish_ingredient in dish.ingredients.all %}
      <tr>
        <td><a class="text-muted"
               href="{% url 'kitchen_service:ingredient-detail' pk=dish_ingredient.ingredient.id %}">
          {{ dish_ingredient.ingredient.id }}
        </a>
        </td>
        <td><a class="text-muted"
               href="{% url 'kitchen_service:ingredient-detail' pk=dish_ingredient.ingredient.id %}">{{ dish_ingredient.ingredient.name }}</a>
        </td>
        <td>{{ dish_ingredient.quantity }}</td>
        <td>{{ dish_ingredient.unit.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <hr>
  <h3>{{ dish.name.capitalize }} can be prepared by following cooks:</h3>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Years of experience</th>
      </tr>
      </thead>
      <tbody>
      {% for cook in dish.cook.all %}
        <tr>
          <td><a class="text-muted"
                 href="{% url 'kitchen_service:cook-detail' pk=cook.id %}">
            {{ cook.id }}
          </a>
          </td>
          <td><a class="text-muted"
                 href="{% url 'kitchen_service:cook-detail' pk=cook.id %}">{{ cook.username }}</a>
          </td>
          <td>{{ cook.first_name }}</td>
          <td>{{ cook.last_name }}</td>
          <td>{{ cook.years_of_experience }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
