{% extends "index.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block greeting %}
  <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="pb-2 border-bottom">Kitchen Service Ingredients List</h1>
    <form action="" method="get">
      {{ search_form|crispy }}
      <input class="btn btn-sm btn-outline-secondary" type="submit" value="Search on this page">
    </form>
    {% if user.is_authenticated %}
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <a href="{% url 'kitchen_service:dish-create' %}">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add dish</button>
          </a>
          <a href="{% url 'kitchen_service:ingredient-create' %}">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add ingredients</button>
          </a>
          <a href="{% url 'kitchen_service:dish-type-create' %}">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add dish type</button>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for ingredient in ingredient_list %}
          <div class="col">
            <div class="card shadow-sm">
              <img src="{% static 'images/ingredients/' %}{{ ingredient.name }}.png" alt="{{ ingredient.name }}.png" width="420" height="220">

              <div class="card-body">
                <h4 class="card-text">{{ ingredient.name }}</h4>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'kitchen_service:ingredient-detail' pk=ingredient.id %}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </a>
                    <a href="{% url 'kitchen_service:ingredient-update' pk=ingredient.id %}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Update</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
